<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- but we cant just use the css files just by this line alone -->
    <!-- the server has to know the file path to access it -->
    <!-- for that go to js file and then use the static folder public -->
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>